#block-5 {
    /* background-color: #fed15b; */
    background-color: #fff;
    height: 70%;
    width: 55%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 15px;
    margin: 100px auto 0px auto;
}

#block-5 .circle {
    background-color: white;
}

.small-box {
    width: 50px;
    height: 50px;
    background: #fff;
    margin: 10px;
    display:inline-block;
}

.contact-box {
    /* border: black solid 1px; */
    display: inline-block;
    width: 170px;
    margin-bottom: 20px;
}

.contact-box img{
    height: 40px;
    margin: 10px;
    display:inline-block;
}

form {
    /* border: red solid 1px; */
    width: 90%;
    margin: 0px auto;
    margin-top: 10px;
}

input {
    border: 2px white solid;
    border-radius: 2px;
    margin-bottom: 10px;
}

input[value="Name"] {
    width: 29%;
    height: 15px;
}

input[value="Email"] {
    width: 29%;
    height: 15px;
    color: #21262a;
}

input[value="Enter Message"] {
    width: 59%;
    height: 100px;
}

button {
    background-color: #fff;
    color: black;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    border-radius: 8px;
    margin: 4px auto;
    cursor: pointer;
}

button:hover {
    background-color: #2c313c;
    color: white;
}

#footer {
    height: 100px;
    padding-top: 20px;
    /* background-color: #21262a; */
    background-color: #fed15b;
    color: black;
    text-align: center;
}

#footer img{
    margin-top: 20px;
    width: 28px;
    margin-right: 10px;
}
