#block-4 {
    padding-top: 35px;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fed15b;
}

#portfolio{
    /* border: blue solid 2px; */
    width: 85%;
    margin: 0px auto;
}

.portfolio-section {
    /* border-bottom: solid white 1px;
    padding-bottom: 50px; */
    margin-bottom: 30px;
    width: 95%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 40px;
    /* display: inline-block; */
    vertical-align: top;
}

.port-title {
    /* border: red solid 2px; */
    /* margin: 10px 90px 0px 30px; */
    /* width: 40%; */
    /* vertical-align: top;
    /* margin: 10px auto; */
    text-align: center;
    position: relative;
    top: 200px;
    display: none;
    font-size: 20px;
}

.project-deets{
    /* border: white solid 1px; */
    padding-left: 20px;
    padding-top: 150px;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
    position: relative;
    top: 20px;
}

#toggleB{
    display: none;
}

.project-deets p{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}


.port-img{
    width: 50%;
    border-radius: 10px;

}

.port-img:hover{
    cursor: pointer;
    /* opacity: .1; */
}

.modal{
    display: none;
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    /* overflow: auto; */
    background-color: rgba(0,0,0, 0.9);
}

.modal-content{
    /* background-color: #fff; */
    margin: 150px auto;
    padding: 20px;
    width: 80%;
    /* height: 85%; */
    /* overflow: scroll; */
    box-shadow: 0 5px 8px 0 rgba(0,0,0, 0.2);
    animation-name: modal-open;
    animation-duration: .75s;
    border-radius: 10px;
}

@keyframes modal-open{
    from{opacity: 0}
    to{opacity:1}
}

.inside-modal-img{
    width: 49%;
    /* margin: 0px auto 15px auto; */
}

.exit-btn{
    float: right;
    font-size: 30px;
    color: #ccc;
}

.exit-btn:hover, .exit-btn:focus{
    color: #fed15b;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1140px) {
    .portfolio-section {
        /* display: inline-block; */
        /* border: solid black 1px; */
        /* background-color: red; */
        margin-bottom: 20px;
        width: 85%;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 40px;
        vertical-align: top;
    }

    .port-img{
        width: 70%;
    }

    .project-deets{
        border-bottom: white solid 1px;
        padding-bottom: 65px;
        margin-bottom: 25px;
        /* background-color: green; */
        padding-top: 20px;
        display: inline-block;
        vertical-align: top;
        width: 92%;
        box-sizing: border-box;
        position: relative;
        top: 20px;

    }

    #toggleA {
        display: none;
    }

    #toggleB{
        display: inline-block;
    }
}

@media screen and (min-width: 1140px){
    .portfolio-section {
        border-bottom: solid white 1px;
        padding-bottom: 60px;
        margin-bottom: 50px;
    }
}


@media screen and (min-width: 1255px){
    .project-deets{
        /* border: white solid 1px; */
        /* background-color: red; */
        padding-top: 180px;
    }
}


@media screen and (min-width: 1600px){
    .project-deets{
        /* background-color: green; */
        padding-top: 230px;
    }

    .port-img{
        width: 600px;
    }
}
